.input_margin {
  margin-top: 20px;
}
.ant-input-group-addon {
  width: 95px;
}
.input_money {
  width: 200px;
}
.ant-modal-title{
  display: flex;
  justify-content: center;
  color: white;
}
/* .anticon{
  color: white;
} */
.ant-modal-close{
  color: white;
}
.ant-modal-header{
  background:  linear-gradient(to right,rgb(36, 77, 125), rgb(203, 82, 82));
}
.ant-modal-body{
  padding: 20px;
}