#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.logo_admin {
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 60px;
}

.ant-table-body{
  max-height: 450px;
  overflow-y: auto;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center;
  white-space: nowrap;
  padding: 10px 10px;
}
.ant-table-tbody > tr:hover{
  cursor: pointer;
}
.typography_text {
  color: #fff;
  text-align: center;
  margin: 10px auto;
}
.typography_header {
  font-size: 5vh;
  text-align: center;
  color: #fff;
}
.header_welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(36, 77, 125), rgb(203, 82, 82));
  padding: 0;
}
.trigger {
  color: #fff;
}

.search_admin {
  width: 35%;
}
.ant-layout-sider-children {
  background: linear-gradient(rgb(36, 77, 125), rgb(203, 82, 82));
}
.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
  background: #ffffff00;
}


