body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.company_profile_trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

#components-layout-demo-custom-trigger .company_profile_trigger:hover {
  color: #ccc;
}

.sidebar_menu_wrapper a {
  color: #fff;
}

.header_btns_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_btns_wrapper .wallet_wrapper {
  padding: 0 1rem;
  margin: 0 2rem 0 1rem;
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.sidebar_menu_wrapper a:hover {
  color: #ccc;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.ant-layout-sider-collapsed .profile_company_logo {
  padding: 1.22rem 0.5rem;
}

.profile_company_logo {
  padding: 1.1rem 0.5rem;
}

.user_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.company_profile_main .ant-spin-nested-loading {
  width: 100%;
}

.company_profile_main {
  max-height: calc(100vh - 64px);
  width: 100%;
  overflow-y: hidden;
}

.company_profile_main .ant-spin-container {
  max-height: calc(100vh - 130px);
  overflow-x: hidden;
}

.company_profile_main .company_orders_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  min-height: unset;
}

/* jvhbgkj */

.company_profile_main .orders_list_item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #fcffff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px 0px;
  transition: 0.5s;
  margin: 1rem 2rem;
}

.company_profile_main .orders_list_item:hover {
  transform: scale(1.03);
  border: 1px solid #ccc;
  background-color: #fcffff;
  box-shadow: 1px 2px 4px 0px;
  cursor: pointer;
}

.company_profile_main .orders_list_item .orders_list_item_elem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.company_profile_main .orders_list_item .order_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.company_profile_header.site-layout-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(36, 77, 125),
    rgb(203, 82, 82)
  );
  padding-left: 20px;
}

.theme_bg_color {
  background-image: linear-gradient(rgb(36, 77, 125), rgb(89, 36, 36));
}

.sidebar_menu_wrapper {
  line-height: 64px;
  min-height: 100vh;
  background-image: linear-gradient(rgb(36, 77, 125), rgb(89, 36, 36));
}

.company_profile_section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.ant-menu-item a .order_text {
  display: inline-block;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
  vertical-align: top;
}

.menu_item_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 1.5rem;
  vertical-align: top;
}

.menu_item_icon img {
  width: 100%;
  height: 100%;
}

.company_info_form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
}

.header_btns_wrapper .ant-avatar.ant-avatar-image:hover {
  cursor: pointer;
}

.company_info_form .ant-form-item-control,
.company_info_form .ant-form-item-control .ant-form-explain {
  width: 250px;
}

.company_edit_info_profile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 1rem;
}

.company_edit_info_profile button {
  margin: 0 1rem;
}

.company_change_avatar_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.company_change_avatar_section div {
  margin: 0 1rem 1.5rem;
}

.company_upload_avatar_wrapper {
  text-align: center;
  height: 50px;
}

.create_order_form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.create_order_form .ant-form-item {
  max-width: 220px;
  width: 100%;
  margin-bottom: 0;
}

.create_order_form .ant-form-item.receiver {
  margin-bottom: 30px;
  margin-top: 10px;
}

.create_order_form .ant-form-item.sender {
  margin-bottom: 20px;
}

.create_order_form .order_range_picker {
  max-width: 350px;
  width: 100%;
}

.company_borders_badge sup {
  background-color: #ccc;
  color: #000;
}
