.homepage_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../assets/images/delivery.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}